/* -- 

- headingXL : 96px line-h: 88px
- headingL : 70px line-h: 70px
- headingM : 60px line-h: 50px
- headingS : 36px line-h: 36px

- textM : 22px line-h: 32px
- textS : 18px line-h: 28px

-- btn: heading 800 20px */

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('../../assets/fonts/big-shoulders-display.black.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('../../assets/fonts/Outfit-Light.ttf');
}