/* -- BreakPoints -- */
$bp-tablet: 768px;
$bp-desktopS: 1024px;
$bp-desktopM: 1200px;
$bp-desktopL: 1440px;


/* -- Colors -- */
$gold: #D5966C;
$black: #151515;
$grey: #444444;
$white: #FFFFFF;

/* -- Fonts -- */

$heading: 'Big Shoulders Display', sans-serif;
$text: 'Outfit', sans-serif;
$btn: 'Big Shoulders Display', sans-serif; 