@use '../abstracts/abstracts' as v;

.container, .location {
    
    max-width: 360px;;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    @include v.breakpoint(tablet) {
        
        max-width:768px;
    }

    @include v.breakpoint(desktopS) {
        
        max-width: 1024px;
    }
}