@use '../abstracts/abstracts' as v;



footer {
    background-color: v.$black;
    height: 315px;
    width: 100%;

    @include v.breakpoint(tablet){
        height: 260px;
    }


    


    .foot_ads {

         @include v.breakpoint(tablet){
            display: flex;
            justify-content: center;
            align-items: start;
            position: relative;
            top: 100px;
            padding: 0 40px 0 40px;
        }

        figure {
            margin: 0;
            width: 360px;
  
            img {
                width: 110.05px;
                height: 40px;
                margin-top: 48px;
                margin-bottom: 38px;
                margin-left: 32px;
                color: v.$white;

                @include v.breakpoint(tablet) {
                    margin: 0;
                }   
            }

            @include v.breakpoint(tablet) {
                margin: 0;
            }
        }
    
        p {
            font-family: v.$text;
            font-size: 14px;
            line-height: 26px;
            color:v.$white;
            margin: 0 32px 38px 32px;

            @include v.breakpoint(tablet) {
                font-size:18px;
                padding-left: 36px;
                width: 670px;
                position: relative;
                right: 65px;
            }
        }
    
        .social-media {
    
            ul {
                @include v.reset_ul;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin: 0 0 48px 32px;
            
                li:hover {
                    transform: scale(1.2);
                    transition: 0.5s ease-in;
                }
            
            }
        }
    
    }

    }


footer.f-location {
    background-color: v.$gold;
    height: 315px;

    @include v.breakpoint(tablet){
        height: 260px;
    }


    .foot_add {

         @include v.breakpoint(tablet){
            display: flex;
            justify-content: center;
            align-items: start;
            position: relative;
            top: 100px;
            padding: 0 40px 0 40px;
        }

        figure {
            margin: 0;
            width: 360px;
  
            img {
                width: 110.05px;
                height: 40px;
                margin-top: 48px;
                margin-bottom: 38px;
                margin-left: 32px;
                color: v.$white;
                filter: invert(1);

                @include v.breakpoint(tablet) {
                    margin: 0;
                }   
            }

            @include v.breakpoint(tablet) {
                margin: 0;
            }
        }
    
        p {
            font-family: v.$text;
            font-size: 14px;
            line-height: 26px;
            color:v.$black;
            margin: 0 32px 38px 32px;

            @include v.breakpoint(tablet) {
                font-size:18px;
                padding-left: 36px;
                width: 670px;
                position: relative;
                right: 65px;
            }
        }
    
        .social-media {
    
            ul {
                @include v.reset_ul;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin: 0 0 48px 32px;
            
                li:hover {
                    transform: scale(1.2);
                    transition: 0.5s ease-in;
                }

                img{
                    filter: invert(1);
                }
            
            }
        }
    
    }

    }