@use '../abstracts/abstracts' as v;


.title {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 120px;

    @include v.breakpoint(desktopS){
        flex-direction: row;
        position: relative;
        left: 15px;
    }

    .title_hero {

        .empty-bg {

            @include v.breakpoint(desktopS) {
                width: 330px;
                height: 650px;
                background-color: #151515;
            }
        }


        @include v.breakpoint(tablet) {
            display: flex;
            flex-direction: row;
        }

        

        figure {
                
            margin: 0;
                
            img {
                width: 100%;
                margin-bottom: -8px;

                @include v.breakpoint(tablet) {
                    width: 124.89%;
                }

                @include v.breakpoint(desktopS) {
                    width: 439px;
                }
            }
        }
        
        .hero_info {

            @include v.breakpoint(tablet) {
                height: 410px;
                position: relative;
                top: 131px;
                left: 10px;
            }
        
                h1 {
                    font-family: v.$heading;
                    font-size: 60px;
                    line-height:55px;
                    text-transform: uppercase;
                    color: v.$black;
                    margin: 32px 16px 10px 16px;

                    @include v.breakpoint(tablet) {
                        font-size: 70px;
                        line-height: 65px;
                        width: 329px;
                        position: relative;
                        right: -20px;
                    }

                    @include v.breakpoint (desktopS) {
                       font-size: 96px;
                        line-height: 88px;
                        filter: invert(1);
                        width: 450px;
                        height: 176px;
                        position: relative;
                        right: 752px;

                    }
                }
            
                p {
                    font-family: v.$text;
                    font-size: 18px;
                    line-height:28px;
                    color: v.$grey;
                    margin: 32px 16px 32px 16px;

                    @include v.breakpoint(tablet){
                        position: relative;
                        top: 5px;
                        right: -20px;
                        width: 357px;
                    }

                    @include v.breakpoint(desktopS) {
                        width: 293px;
                        position: relative;
                        right: 80px;
                        top: -220px;
                    }
                }
            
                .btn_1 {
                    position: relative;
                    margin-left: 15px;

                    @include v.breakpoint(tablet){
                        left:20px;
                        top: 15px;
                    }

                    @include v.breakpoint(desktopS) {
                        left: -80px;
                        top: -205px;
                        width: 215px;
                    }
            
                    ul {
                        @include v.reset_ul;
                        display: flex;

                        @include v.breakpoint(desktopS) {
                            height: 55px;
                        }
            
                        li {
                            display: flex;
                            align-items: center;
            
                            &:first-child {
                                background-color: v.$black;
            
                                a, a:visited {
                                    padding: 24px 35px 24px 32px;
                                    color: v.$white;
                                    text-decoration: none;
                                    font-family: v.$btn;
                                    font-size: 18px;
                                    text-transform: uppercase;
                                    letter-spacing: 3.6px;

                                    @include v.breakpoint(desktopS){
                                        font-size: 16px;
                                        padding: 12px 15px;
                                    }
                                }
                            }
            
                            &:last-child {
                                background-color: v.$gold;
            
                                img {
                                    padding: 24px;
                                }
                            }
                            
                        }
                    }
            
                    &:hover {
                        li:first-child {
                            background-color: v.$gold;
                        }
            
                        li:last-child {
                            background-color: v.$black;
                        }
                    }
                }
        }
    }
}


.location-info {
    .map {
        margin: 0;
        width: 100%;
        overflow-block:hidden;
        

        img {
            width: 303%;
            position: relative;
            left: -340px;
            top: 0px;
            margin-bottom: 0;

            @include v.breakpoint(tablet){
                width: 180%;
                left: -300px;
                overflow-x:hidden;
            }

            @include v.breakpoint(desktopS){
                width: 100%;
                left: 0;
                overflow-x:hidden;
            }
        }
    }

    .info {
        margin: 0;
        height: 493px;
        background-color: v.$black;

        @include v.breakpoint(tablet) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            column-gap:50px;
            padding: 80px 40px;
            height: 250px;
        }

        @include v.breakpoint(desktopS){
            margin-top: -10px;
        }
                
        h1 {
            margin: 0 16px 48px 16px;
            padding-top: 48px;
            font-family: v.$heading;
            font-size: 50px;
            line-height: 45px;
            color: v.$white;
            text-transform: uppercase;

            @include v.breakpoint(tablet) {
                padding: 0;
            }

            @include v.breakpoint(desktopS){
                width: 180px;
                position: relative;
                left: 50px;
            }
        }

        .address {

            @include v.breakpoint(tablet) {
                width: 350px;
                position: relative;
                right: 110px;
            }

            h2 {
                margin: 0 16px 20px 16px;
                font-family: v.$heading;
                font-size: 32px;
                line-height: 32px;
                color: v.$gold;
                text-transform: uppercase;
            }
    
            p {
                font-family: v.$text;
                font-size: 14px;
                line-height: 28px;
                color: v.$white;
                
                &:nth-last-child(2) {
                    margin: 0 16px 20px 16px;
                }
    
                &:last-child {
                    margin: 0 16px 56px 16px;

                    @include v.breakpoint(desktopS) {
                        width: 340px;
                    }
                }
            }

        }


    }

}








