@use '../abstracts/abstracts' as v;

.offer {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .offer_article {
      
        margin: 0;
        width: 100%;
        overflow-block: hidden;
        margin-bottom: 25px;
        overflow-x:hidden;

        @include v.breakpoint(tablet) {
            display: grid;
            grid-template-columns: 205px auto;
            grid-template-rows: 355px auto;
            position: relative;
            left: 30px;
            column-gap: 70px;

        }

        @include v.breakpoint(desktopS){
            display: grid;
            grid-template-columns: 430px auto;
            grid-template-rows: 355px auto;
        }
          
        .gallery {
            margin: 0;
            @include v.breakpoint(tablet){
                order: 1;
                overflow-block: hidden;
                position: relative;
                right: 0px;
                width: 100%;
            }

            @include v.breakpoint(desktopS){
                right: 35px;
                width: 575px;
            }
            img {
                width: 133%;
                object-position: -57px;
                margin-bottom: 25px;
                @include v.breakpoint(tablet) {
                    width: 100%;
                    /* height: 450px; */
                    position: relative;
                    object-fit: contain;
                    bottom: 0;
                    right: 0px;
                }

                @include v.breakpoint(desktopS){
                    object-fit: contain;
                    width: 97%;
                    left: 14px;
                }
            }
        }    
        .offer_content {

            @include v.breakpoint(tablet){
                width: 270px;
                min-height: 328px;
                margin-top: 36px;
                margin-left: 4px;
            }

            @include v.breakpoint(desktopS){
                width: 285px;
                position: relative;
                left:70px
            }
                
            h2 {
                font-family: v.$heading;
                font-size: 50px;
                line-height: 45px;
                color: v.$black;
                text-transform: uppercase;
                margin: 0 16px 21px 16px;
            }
        
            p {
                font-family: v.$text;
                font-size: 18px;
                line-height: 28px;
                color: v.$grey;
                margin:0 16px 32px 16px;
            }
        }
    }
    
    .grid {

        @include v.breakpoint(tablet) {

            display: grid;
            position: relative;

            grid-template-columns: auto 390px;
            grid-template-rows: 120px;
            grid-template-areas: 
                "example1 flexi"
                "example1 flexi";
            column-gap: 11px;
      
        }

        @include v.breakpoint(tablet){
            margin-left: 10px;
        }

        @include v.breakpoint(desktopS){
            gap: 30px;
            margin-left: 80px;
            margin-right: 30px;
        }

        .gallery2 {
            margin: 0;

            @include v.breakpoint(tablet){
                margin-left: 10px;
                margin-right: 0;
                margin-top: 0;
                overflow-block:hidden;
                height: 760px;
                width: 430px;
                overflow-x:hidden;
            }

            @include v.breakpoint(desktopS){
                width: 401px;
                height: 655px;
                overflow-x:hidden;
            }
            img {
                margin-bottom: 16px;
                
                &:first-child {
                    width: 360px;
    
                    @include v.breakpoint(tablet){
                        width: 130%;
                        position: relative;
                        right: 65px;
                        bottom: 0px;
                    }

                    @include v.breakpoint(desktopS){
                        width: 117%;
                        right: 35px;
                    }
                }
            }
        }

        .flexgrid {
            grid-area:flexi;
            display: flex;
            flex-direction: column;
            gap: 11px;   

            @include v.breakpoint(desktopS){
                gap: 30px;
            }

            .gallery3 {
                margin: 0;
                overflow-block:hidden;

                @include v.breakpoint(tablet) {
                    width: 280px;
                    overflow-x:hidden;
                }

                @include v.breakpoint(desktopS){
                    width: 390px;
                }

                .example2 {
                    object-fit: contain;
                    width: 100%;

                    
                    @include v.breakpoint(tablet){

                        object-fit: contain;
                        position: relative;
                        width: 150%;
                        right: 102px;
                    }
                    
                    @include v.breakpoint(desktopS){
                        width: 494px;
                        height: 295px;
                        object-fit: cover;
                    }
                }
            
            }
                      
            .cta {
                background-color: #151515;
                margin-bottom: 120px;
                padding: 24px 0 24px 0;
        
                @include v.breakpoint(tablet){
                    width: 280px;
                    height: 402px;
                }

                @include v.breakpoint(desktopS){
                    width: 390px;
                    height: 280px;
                }
        
        
                h2 {
                    font-family: "Big Shoulders Display", sans-serif;
                    font-size: 50px;
                    line-height: 45px;
                    color: #FFFFFF;
                    margin: 48px 24px 24px 24px;
                    text-transform: uppercase;

                    @include v.breakpoint(tablet){
                        position: relative;
                        top: 60px;
                    }

                    @include v.breakpoint(desktopS){
                        font-size: 60px;
                        line-height: 60px;
                        position: relative;
                        top: -5px;
                    }
                }
        
                p {
                    font-family: "Outfit", sans-serif;
                    font-size: 18px;
                    line-height: 28px;
                    color: #FFFFFF;
                    margin: 0 24px 47px 24px;

                    @include v.breakpoint(tablet){
                        width: 225px;
                        position: relative;
                        top: 75px;
                    }

                    @include v.breakpoint(desktopS){
                        width: 290px;
                        top: 10px;
                    }
                }
    
            }
       }
    }
}






